@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.font-league{
    font-family:
    'League Spartan', sans-serif; 
}

.font-Work{
    font-family: 'Work Sans', sans-serif;

}

.w-750{
width: 750px;
}

.ml-75{
    margin-bottom: 60px;
    margin-left: 750px;
}